<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <% if (config.description) { %>
    <meta name="description" content="<%= config.description %>">
  <% } %>

  <% if (config.keywords) { %>
    <meta name="keywords" content="<%= config.keywords %>">
  <% } %>

  <% if (config.author) { %>
    <meta name="author" content="<%= config.author %>">
  <% } %>

  <% if (config.copyright) { %>
    <meta name="copyright" content="<%= config.copyright %>">
  <% } %>

  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>

  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <% if (config.highlight.enable){ %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <link href="https://cdn.bootcss.com/highlight.js/9.15.6/styles/<%= config.highlight.theme || 'default' %>.min.css" rel="stylesheet">
  <% } %>

  <%- css('css/style') %>
</head>
<body>
  <div class="root-container">
    <%- partial('_partial/nav', null, {cache: !config.relative_link}) %>

    <%- partial('_partial/header') %>

    <%- body %>

    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>

  <%# ins 弹窗 STAET %> 
  <!--
  <div class="ins-modal-mask">
    <div class="ins-modal-container">
      <div class="ins-close">
        <i class="icon-close"></i>
      </div>
      <div class="ins-photo">
        <img src="https://scontent-lax3-1.cdninstagram.com/v/t51.2885-15/e35/c0.180.1440.1440a/s480x480/89719925_627659578016450_8973095395989992597_n.jpg?_nc_ht=scontent-lax3-1.cdninstagram.com&_nc_cat=1&_nc_ohc=nNvhNBWnK0YAX8uP2xH&oh=2691c71b4a2ed27b865f06107b14c290&oe=5EA0BF82" alt="123">
      </div>
      <div class="ins-info">
        <div class="info-text">
          <div class="info-title">第一张试拍图</div>
          <time class="info-time">2020年03月14日</time>
        </div>
        <div class="info-devices">
          <div class="device-item">
            <i class="icon-sb"></i>
            Sony A6000
          </div>
          <div class="device-item">
            <i class="icon-gq"></i>
            F24/100
          </div>
          <div class="device-item">
            <i class="icon-iso"></i>
            100
          </div>
        </div>
        <div class="info-map">
          <i class="icon-map"></i>
          <div class="map-image">
            <div class="map-image-inner"><img src="http://api.map.baidu.com/staticimage?width=800&height=400&center=104.07408056%2C30.55883333&zoom=13&copyright=1&dpiType=ph&markers=104.07408056%2C30.55883333&size=l&label=%E2%9D%A4%EF%B8%8F" alt="haha"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->
  <%# ins 弹窗 END %> 

  <%# 加载站点脚本 %>
  <%- partial('_partial/footer-script') %>
  <%# 加载自定义脚本代码 %>
  <%- partial('_partial/footer-other') %>
</body>
</html>